@import "styles/colors_variables.scss";

.shops{
    @media screen and (max-width:576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    &__table{
        width: 100%;
        &>table{
        background-color: $base_white;
        padding:0 12px;
        &>thead{
            @media screen and (max-width:576px) {
                display: none;
            }
            &>tr>th{
                border-bottom: none;;
            }
        }
        &>tbody>tr{
            color:$text_grey;
            @media screen and (max-width:576px) {
                width: 100%;
            }
            &>td.address{
                min-width: 185px;
            }
            &:last-child>td{
                border-bottom: none;
            }
            &>td:last-child{
                @media screen and (max-width:576px) {
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid black;
                }
                &>button{
                    margin: 18px 8px 18px 0;
                    @media screen and (max-width:1024px) {
                        width: 9rem;
                        padding:8px;
                    }
                }
            }
        }
    }
}
    button{
        width: 185px;
        height:37px;
        background-color:$button_green;
        font-size: 12px;
        margin-bottom: 36px;
        padding: 12px 20px;
        &:hover,&:active{
            background-color:lighten($button_green,10%);
        }
        &:first-child{
            margin-right: 8px;
        }
        &:last-child{
            background-color:$button_grey;
            &:hover,&:active{
            background-color:lighten($button_grey,10%);
            }
        }
        &>span:first-child{
            font-size: 20px;
            font-weight: bold;
            margin-left: -4px;
        }
        &>span:last-child{
            margin: 0 auto;
        }
        &>svg{
            width: 14px;
            height: 14px;
            margin-right: 14px;
            fill:$icons_white;

        }
    }
    h4{
        margin-bottom: 26px;
    } 
}