@import "styles/colors_variables.scss";


.header{
    color: black;
    &__breadcrumbs>ol>li{
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        color: $text_grey;
        &>a{
            text-decoration: none;
            color: inherit;
        }
        &:not(:first-child)::before{
            content: "" !important;
            background: url("../img/icons/arrow_right.svg");
            background-size: 7px 9px;
            width:7px;
            height:9px;
        }
    }
    &__controls{
        color: black;
        &>.envelop{
            width: 66px;
            height: 66px;
            border: 1px solid $button_grey !important;
            background-color:$content_background;
            position: relative;
            transition: background-color .3s linear;
            &:hover{
                background-color: lighten($button_grey,15%);
            }
            &::before{
                content: "";
                display: inline-flex;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #e42626;
                border: 3px solid #ffffff;
                position: absolute;
                top: 18px;
                right: 16px;
                box-sizing: content-box;
            }
            &>svg{
                width: 22px;
                height:18px;
                fill:$icons_grey;
            }
        }
        &>.user_panel{
            width:256px;
            height:66px;
            margin-left:6px;
            background-color:$base_white;
            border-radius:5px;
            cursor: pointer;
            &>figure{
                width: 46px;
                height: 46px;
                overflow: hidden;
                margin:0 0 0 17px;
                &>img{
                    height:100%;
                }
            }
            &>p{
                color: $text_grey;
            }
        }
    }
}