@import "styles/colors_variables.scss";

.layout{
    height: 100%;
    &__content{
        padding: 0 16px 0 59px;
        background-color:$content_background;
        @media screen and (max-width:812px) {
        padding:0 12px;
        }
    }
}